/* general page styling */
body {
  font: 15px;
  font-family: 'Roboto', sans-serif;
  margin-left: 7.5%;
  width: 85%;
}

h2 {
  text-align: center;
}

h3 {
  font-weight: 400;
  text-align: center;
  font-size: 25px;
}

h4 {
  margin-top: 30px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

hr {
  border-width: 2px 0;
  border-color: #c4c3c2;
}

p {
  text-align: justify;
}

.question {
  margin-bottom: 20px;
}

.description {
  margin-top: 20px;
}

.intro {
  margin-top: 20px;
}

.caption {
  font-style: italic;
  font-size: 18px;
}

/* bootstrap */

.btn.raised {
	box-shadow: 0 3px 0 0 #007299;
}

.btn.raised:active, .btn.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

/***** scatter plot styling *****/
#scatter {
  width: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.label {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}


.dot {
  fill-opacity: 0.8;
  stroke: #5C5C5C;
  stroke-width: 0.8px;
}

.ucdot {
  fill-opacity: 0.8;
  stroke: black;
  stroke-width: 0.8px;
  fill: rgb(31, 119, 180);
}


.ucdot:hover {
  fill-opacity: 1.0;
  stroke: black;
  stroke-width: 2.5px;
}

.dot:hover {
  fill-opacity: 1.0;
  stroke: black;
  stroke-width: 2.5px;
}

.buttonBox {
  /*border: 2px black solid;*/
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.filterButton {
  margin-left: 10px;
  	/*box-shadow: 0 3px 0 0 #007299;*/
}

#filterUCB {
  background: rgb(31, 119, 180);
  color: white;
}

#filterUCD {
  background: rgb(255, 127, 14);
  color: white;
}

#filterUCI {
  background: rgb(44, 160, 44);
  color: white;
}

#filterUCLA {
  background: rgb(214, 39, 40);
  color: white;
}

#filterUCR {
  background: rgb(148, 103, 189);
  color: white;
}

#filterUCSD {
  background: rgb(140, 86, 75);
  color: white;
}

#filterUCSB {
  background: rgb(227, 119, 194);
  color: white;
}

#filterUCSC {
  background: rgb(127, 127, 127);
  color: white;
}

/*#lineUCB {
  opacity: 0;
}*/

/*.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}*/

/***** pie chart styling *****/

.allpies {
  margin-top: 15px;
  margin-bottom: 15px;
}

.pie {
  min-width: 300px;
  min-height: 300px;
}

/*.pieCharts {
  width: 100%;
  height: 800px;
}*/

/*.pie {
  /*width: 100%;*/
  /*margin-bottom: 5%;*/
  /*width: 40%;*/
  /*height: 400px;*/
/*}*/

.arc path {
  stroke: #fff
}

.arc path:hover {
  fill-opacity: 1.0;
  stroke-width: 2.5px;
  stroke: black;
}

.arc {
  fill-opacity: 0.8;
}

.arc:hover {
  stroke-width: 2px;
  /*fill-opacity: 0.5;*/
  /*stroke: black;*/
  /*stroke-width: 0.5px;*/
}

/* tooltip styling */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  font-weight: 600;
}

.pieTitle {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}


/***** line chart styling *****/
.line {
  fill: none;
  stroke-width: 1.5px;
}

.legend {
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
}
