body {
  font: 15px;
  font-family: 'Roboto', sans-serif;
}

/*.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}*/

.intro {
  margin-left: 15%;
  width: 70%;
}

.outro {
  margin-left: 15%;
  width: 70%;
}

#scatter {
  margin-left: 5%;
  width: 90%;
}

/*#viz {
  width: 90%;
  margin-left: 5%;
}*/

h2 {
  text-align: center;
}

h3 {
  font-weight: 400;
  text-align: center;
}

h4 {
  margin-top: 30px;
  text-align: left;
  font-weight: 400;
}

hr {
    border-width: 2px 0;
    border-color: #c4c3c2;
}

p {
  text-align: justify;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  font-size: 15px;
}

.axis text {
  font: 15px;
  font-family: 'Roboto', sans-serif;
}

.label {
  font: 18px;
  font-family: 'Roboto', sans-serif;
}

.dot {
  stroke: #000;
}
