/* general page styling */
body {
  font: 15px;
  font-family: 'Roboto', sans-serif;
  /*margin-left: 7.5%;*/
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
}

h3 {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
}

h4 {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

hr {
  border-width: 2px 0;
  border-color: #c4c3c2;
}

p {
  text-align: justify;
}

p.indent {
  padding-left: 1.8em
}

.question {
  margin-bottom: 20px;
}

.description {
  margin-top: 20px;
}

.intro {
  margin-top: 20px;
}

.caption {
  font-style: italic;
  font-size: 18px;
}

/***** line chart styling *****/
.line {
  fill: none;
  stroke-width: 1.5px;
}

.legend {
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
}

/***** axes styling *****/
.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
  fill: #FFF;
  font-family: 'Roboto', sans-serif;
}

.label {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

/***** tooltip styling *****/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/***** map styling *****/
#mapView {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}


.marker {
  stroke: black;
  stroke-width: 1px;
  /*fill: #31a354;*/
}

#overlay-top {
  position: absolute;
  width: 100%;
  height: 280px;
  top: -280px;
  background-color: rgba(0,0,0,0.6);
  display: none;
}

#overlay-top-left {
  display: inline-block;
  width: 80%;
}

#overlay-top-right {
  display: inline-block;
  width: 20%;
}


#overlay-right {
  position: absolute;
  width: 300px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}

.histTitle {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  fill: white;
}

.cityLabel {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  margin: 10px 0 10px 0;
}

/**** histogram styles ****/
.bar {
  fill: #7BC8BD;
}

.bar text {
  fill: #000;
  font: 14px 'Roboto', sans-serif;
}

svg text.label {
  fill:	black;
  font: 15px 'Roboto', sans-serif;
  font-weight: 400;
  text-anchor: middle;
}

#controller {
  background-color: blue;
  width: 20%;
  display: inline-block;
  /*position: relative;*/
  /*left: 0;*/
  /*float: left;*/
}

#histogram {

}

/* slider styles */
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
