/* general page styling */
body {
  font: 15px;
  font-family: 'Roboto', sans-serif;
  /*margin-left: 7.5%;*/
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
}

h3 {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
}

h4 {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

hr {
  border-width: 2px 0;
  border-color: #c4c3c2;
}

p {
  text-align: justify;
}

p.indent {
  padding-left: 1.8em
}

.question {
  margin-bottom: 20px;
}

.description {
  margin-top: 20px;
}

.intro {
  margin-top: 20px;
}

.caption {
  font-style: italic;
  font-size: 18px;
}

/***** scatter plot styling *****/
.dot {
  fill-opacity: 0.8;
  stroke: #5C5C5C;
  stroke-width: 0.8px;
}

.ucdot {
  fill-opacity: 0.8;
  stroke: black;
  stroke-width: 0.8px;
  fill: rgb(31, 119, 180);
}

.ucdot:hover {
  fill-opacity: 1.0;
  stroke: black;
  stroke-width: 2.5px;
}

.dot:hover {
  fill-opacity: 1.0;
  stroke: black;
  stroke-width: 2.5px;
}

/***** pie chart styling *****/

.allpies {
  margin-top: 15px;
  margin-bottom: 15px;
}

.pie {
  min-width: 250px;
  min-height: 250px;
}

.arc path {
  stroke: #fff
}

.arc path:hover {
  fill-opacity: 1.0;
  stroke-width: 2.5px;
  stroke: black;
}

.arc {
  fill-opacity: 0.8;
}

.arc:hover {
  stroke-width: 2px;
}

/***** line chart styling *****/
.line {
  fill: none;
  stroke-width: 1.5px;
}

.legend {
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
}

/***** axes styling *****/
.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 14px;
  fill: #FFF;
  font-family: 'Roboto', sans-serif;
}

.label {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

/***** tooltip styling *****/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



/***** map styling *****/
#mapView {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

/*#histogram {
  width: 60%;
  height: 500px;
}*/

.marker {
  stroke: black;
  stroke-width: 1px;
  fill: #31a354;
}

#overlay {
  position: absolute;
  width: 100%;
  top: 0;
  height: 330px;
  background-color: rgba(0,0,0,0.6);
  display: none;
  top: -330px;
  /*temp*/
  /*top:0;*/
}

.histTitle {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  fill: white;
}

.cityLabel {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  margin: 10px 0 10px 0;
}

/**** histogram styles ****/
.bar {
  fill: #7BC8BD;
}

.bar text {
  fill: #000;
  font: 14px 'Roboto', sans-serif;
}

svg text.label {
  fill:	black;
  font: 15px 'Roboto', sans-serif;
  font-weight: 400;
  text-anchor: middle;
}
